<div *ngIf="isLoading" id="_loader">
  <div id="load_logo"></div>
    <div class="spinner2 moon2">    
  </div>
</div>

<div *ngIf="!isLoading" class="container proj-container">
  <h1>Новая статья</h1>
  <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group custom_form_group">
            <label for="title">Заголовок</label>
            <input id="title" (ngModel)="model.title" required name="title" type="text" placeholder="" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group custom_form_group">
            <label for="intro">Интро</label>
            <input id="intro" (ngModel)="model.intro" required name="intro" type="text" placeholder="" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group custom_form_group">
          <label for="content">Контент</label>
          <textarea class="form-control" id="content" required name="content" (ngModel)="model.content" (keyup)="updatePreview(formData)"></textarea>
        </div>  
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary" type="submit">Отправить</button>
        <button class="btn btn-default" type="button" (click)="clear(formData)">Очистить</button>
        <button class="btn btn-default" data-toggle="modal" data-target="#preview" type="button">Просмотр</button>
      </div>
    </div>
    <div id="preview" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Предварительный просмотр</h4>
      </div>
      <div class="modal-body">
        <markdown [data]="preview"></markdown>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="submit">Сохранить</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>

  </div>
</div>
  </form>  
</div>

<div id="snackbar">Опубликовано!</div>


