<div *ngIf="isLoading" id="_loader">
  <div id="load_logo"></div>
    <div class="spinner2 moon2">    
  </div>
</div>

<div *ngIf="!isLoading" class="container proj-container" style="margin-top: 14px;padding-top: 38px;">
  <div class="col-md-12 sub-nav post_management_submenu">
    <ol class="breadcrumb">
      <li><a id="blog_link" routerLink="/app/blog" routerLinkActive="active">Блог</a></li>
      <li class="active"><a>Новая статья</a></li> 
    </ol>
    <a class="right_submenu_item" routerLink="/app/images-management" routerLinkActive="active">Управление изображениями</a> 
  </div>
  <form [formGroup]='ngForm' (ngSubmit)="onSubmit()" novalidate class="col-md-8">
    <h2>Новая статья</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group custom_form_group">
            <label for="title">Заголовок</label>
            <input id="title" (ngModel)="model.title" required formControlName="title" type="text" placeholder="" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group custom_form_group">
            <label for="intro">Интро</label>
            <input id="intro" (ngModel)="model.intro" required formControlName="intro" type="text" placeholder="" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group custom_form_group">
          <label for="content">Контент
            <a href="https://dimpu.github.io/angular2-markdown/" target="blank">
              <i class="fa fa-info-circle markdown_info_link" aria-hidden="true"></i>
            </a>
          </label>
          <textarea class="form-control" id="content" required formControlName="content"></textarea>
        </div>  
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary" type="submit">Отправить</button>
        <button class="btn btn-default" type="button" (click)="clear()">Очистить</button>
        <button class="btn btn-default" data-toggle="modal" data-target="#preview" type="button">Просмотр</button>
      </div>
    </div>
    <div id="preview" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">

        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Предварительный просмотр</h4>
          </div>
          <div class="modal-body">
            <markdown [data]="preview"></markdown>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" type="submit">Сохранить</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
          </div>
        </div>

      </div>
    </div>
  </form>  
  <div class="col-md-4">
    <h2>Загрузить изображение</h2>
    <div class="row file_input_row">
     <div class="col-md-12">
        <div class="form-group">
          <label for="upload" style="color:#fff;margin-bottom: 10px;">.</label>
          <input type="file" id="upload" class="custom-file-input">
        </div> 
        <button type="button" id="send_image_btn" class="btn btn-primary" (click)="upload()">Загрузить</button>
        <div *ngIf="uploadedUrl" class="row uploaded_img_well_row">
          <div class="col-md-12">
            <div class="well upload_well">
              <p>Ссылка</p>
              <p>{{uploadedUrl}}</p>
            </div>
          </div>
        </div>
        <div *ngIf="uploadedUrl" class="row">
          <div class="col-md-12 img_preview">
            <p>Предварительный просмотр</p>
            <img [src]="uploadedUrl" alt="">
          </div>
        </div>  
    </div>
  </div>
</div>

<div id="snackbar">Опубликовано!</div>


