<div class="container-fluid about_pic">
  <div class="overlay"></div>
  <div class="intro-body">
      <h1 class="brand-heading">Записки одного разработчика</h1>
      <p class="intro-text">Привет! Меня зовут Владимир. Я инженер.
          <br>Добро пожаловать на мой сайт!</p>
      <div id="lets_Scroll_Container">
          <img id="lets_Scroll" src="assets/icon-scroll.gif" alt="scroll_down" onclick="$('html,body').animate({scrollTop:($(window).height()*1 - 100)});">
        </div> 
  </div>
</div>

<div class="container-fluid">
  <div class="row slideanim">
    <div class="col-md-4">
      <div class="article-box">
        <div class="box-top">
          <div class="box-icon">
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
          </div>
          <div class="box-header">
            <h3>Cложные пользовательские интерфейсы</h3>
          </div>
        </div>
        <div class="box-body">
          <p>Я обладаю хорошим опытом создания одностраничных динамических web-приложений со сложным интерфейсом.</p>
        </div>
        <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="article-box">
        <div class="box-top">
          <div class="box-icon">
            <i class="fa fa-cogs" aria-hidden="true"></i>
          </div>
          <div class="box-header">
            <h3>Масштабируемые серверные решения</h3>
          </div>
        </div>
        <div class="box-body">
          <p>Использование современных методологий разработки в сочетании с проверенными годами паттернами проектирования позволяет создавать легкоподдерживаемые и масштабируемые приложения.</p>
        </div>
        <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="article-box">
        <div class="box-top">
          <div class="box-icon">
            <i class="fa fa-cloud" aria-hidden="true"></i>
          </div>
          <div class="box-header">
            <h3>Облачные сервисы и приложения</h3>
          </div>
        </div>
        <div class="box-body">
          <p>Я работаю с такими современными технологиями как Firebase и Spring Cloud.</p>
        </div>
        <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

  <div class="row slideanim">
    <div class="col-md-4">
      <div class="article-box">
        <div class="box-top">
          <div class="box-icon">
            <i class="fa fa-paint-brush" aria-hidden="true"></i>
          </div>
          <div class="box-header">
            <h3>Современный web-дизайн</h3>
          </div>
        </div>
        <div class="box-body">
          <p>Хороший опыт в рекламной отрасли, полиграфии и web-дизайне. Работаю со всеми современными инструментами дизйнера.</p>
        </div>
        <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="article-box">
        <div class="box-top">
          <div class="box-icon">
            <i class="fa fa-code-fork" aria-hidden="true"></i>
          </div>
          <div class="box-header">
            <h3>Работа в команде</h3>
          </div>
        </div>
        <div class="box-body">
          <p>Постоянно использую в работе системы контроля версий Mercurial и Git. Уважаю гибкую методологию разработки Scrum/Agile.</p>
        </div>
        <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="article-box">
        <div class="box-top">
          <div class="box-icon">
            <i class="fa fa-database" aria-hidden="true"></i>
          </div>
          <div class="box-header">
            <h3>Хранение и доступность данных</h3>
          </div>
        </div>
        
        <div class="box-body">
          <p>В своих проектах я использую как SQL, так и современные NO-SQL базы данных, такие как mongoDB и Firebase.</p>
        </div>
        <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row numbers">
    <div class="col-md-3 slideanim2">
      <h1><span id="backend_hours">2154</span> часов</h1>
      <p>Backend разработки</p>
    </div>
    <div class="col-md-3 slideanim2">
      <h1><span id="frontend_hours">1703</span> часа</h1>
      <p>Frontend разработки</p>
    </div>
    <div class="col-md-3 slideanim2">
      <h1><span id="projects_qty">5</span></h1>
      <p>Успешных проектов</p>
    </div>
    <div class="col-md-3 slideanim2">
      <h1><span id="me_years">3</span> года</h1>
      <p>Мне как разработчику</p>
    </div>
  </div>
</div>

<div class="container-fluid bg-2 text-center">
  <div class="container slideanim">
    <h3>Как со мной связаться?</h3>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.</p>
    <br>
    <a href="#" class="btn btn-primary btn-lg">
      Написать мне&nbsp;
      <span class="glyphicon glyphicon-send"></span>
    </a>
  </div>
</div>

<div class="container-fluid bg-3 text-center"> 
  <div class="container">
    <h3 class="slideanim">Мои проекты</h3>
    <div class="row slideanim">
      <div class="col-sm-4">
        <p>Lorem ipsum..</p>
        <img src="https://www.w3schools.com/bootstrap/birds1.jpg" alt="Image" class="img-responsive" style="width:100%">
      </div>
      <div class="col-sm-4">
        <p>Lorem ipsum..</p>
        <img src="https://www.w3schools.com/bootstrap/birds2.jpg" alt="Image" class="img-responsive" style="width:100%">
      </div>
      <div class="col-sm-4"> 
        <p>Lorem ipsum..</p>
        <img src="https://www.w3schools.com/bootstrap/birds3.jpg" alt="Image" class="img-responsive" style="width:100%">
      </div>
    </div>
  </div>
</div>