<div class="container-fluid bg-1 text-center">
  <h3>Кто я?</h3>
  <img src="assets/me.jpg" alt="Me" class="img-responsive img-circle me" style="display:inline">
  <h3>Я инженер</h3>
</div>

<div class="container-fluid bg-2 text-center">
  <div class="container">
    <h3>Чем я занимаюсь?</h3>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.</p>
    <br>
    <a href="#" class="btn btn-primary btn-lg">
      Написать мне&nbsp;
      <span class="glyphicon glyphicon-send"></span>
    </a>
  </div>
</div>

<div class="container-fluid bg-3 text-center"> 
  <div class="container">
    <h3>Where To Find Me?</h3>
    <div class="row">
      <div class="col-sm-4">
        <p>Lorem ipsum..</p>
        <img src="https://www.w3schools.com/bootstrap/birds1.jpg" alt="Image" class="img-responsive" style="width:100%">
      </div>
      <div class="col-sm-4">
        <p>Lorem ipsum..</p>
        <img src="https://www.w3schools.com/bootstrap/birds2.jpg" alt="Image" class="img-responsive" style="width:100%">
      </div>
      <div class="col-sm-4"> 
        <p>Lorem ipsum..</p>
        <img src="https://www.w3schools.com/bootstrap/birds3.jpg" alt="Image" class="img-responsive" style="width:100%">
      </div>
    </div>
  </div>
</div>