<div class="container-fluid bg-1 text-center">
  <h3 class="who">Кто я?</h3>
  <img src="assets/me.jpg" alt="Me" class="img-responsive img-circle me" style="display:inline">
  <h3>Я инженер</h3>
  <div id="parallax-container">
    <div class="box box-6 spinner moon"></div>
    <div class="box box-5 spinner moon"></div>
    <div class="box box-4 spinner moon"></div>	
    <div class="box box-3 spinner moon"></div>
    <div class="box box-2 spinner moon"></div>
    <div class="box box-1 spinner moon"></div>
  </div>
</div>

<div class="container-fluid">
  <div class="row" id="vectors_title">
    <div id="lets_Scroll_Container">
      <img id="lets_Scroll" src="assets/scroll.gif" alt="scroll_down" onclick="$('html,body').animate({scrollTop:500});">
    </div>  
    <h3 class="slideanim">Чем я занимаюсь?</h3>
  </div>
  <div class="row slideanim">
    <div class="col-md-4">
      <div class="article-box">
        <div class="box-top">
          <div class="box-icon">
            <i class="fa fa-user" aria-hidden="true"></i>
          </div>
          <div class="box-header">
            <h3>Internal audit</h3>
          </div>
        </div>
        <div class="box-body">
          <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.</p>
        </div>
        <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="article-box">
        <div class="box-top">
          <div class="box-icon">
            <i class="fa fa-user" aria-hidden="true"></i>
          </div>
          <div class="box-header">
            <h3>Internal audit</h3>
          </div>
        </div>
        <div class="box-body">
          <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.</p>
        </div>
        <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="article-box">
        <div class="box-top">
          <div class="box-icon">
            <i class="fa fa-user" aria-hidden="true"></i>
          </div>
          <div class="box-header">
            <h3>Internal audit</h3>
          </div>
        </div>
        <div class="box-body">
          <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.</p>
        </div>
        <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

  <div class="row slideanim">
    <div class="col-md-4">
      <div class="article-box">
        <div class="box-top">
          <div class="box-icon">
            <i class="fa fa-user" aria-hidden="true"></i>
          </div>
          <div class="box-header">
            <h3>Internal audit</h3>
          </div>
        </div>
        <div class="box-body">
          <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.</p>
        </div>
        <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="article-box">
        <div class="box-top">
          <div class="box-icon">
            <i class="fa fa-user" aria-hidden="true"></i>
          </div>
          <div class="box-header">
            <h3>Internal audit</h3>
          </div>
        </div>
        <div class="box-body">
          <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.</p>
        </div>
        <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="article-box">
        <div class="box-top">
          <div class="box-icon">
            <i class="fa fa-user" aria-hidden="true"></i>
          </div>
          <div class="box-header">
            <h3>Internal audit</h3>
          </div>
        </div>
        
        <div class="box-body">
          <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.</p>
        </div>
        <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row numbers">
    <div class="col-md-3 slideanim">
      <h1><span id="backend_hours">2450</span> часов</h1>
      <p>Backend разработки</p>
    </div>
    <div class="col-md-3 slideanim">
      <h1><span id="frontend_hours">1703</span> часа</h1>
      <p>Frontend разработки</p>
    </div>
    <div class="col-md-3 slideanim">
      <h1><span id="projects_qty">5</span></h1>
      <p>Успешных проектов</p>
    </div>
    <div class="col-md-3 slideanim">
      <h1><span id="me_years">3</span> года</h1>
      <p>Мне как разработчику</p>
    </div>
  </div>
</div>

<div class="container-fluid bg-2 text-center">
  <div class="container slideanim">
    <h3>Как со мной связаться?</h3>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.</p>
    <br>
    <a href="#" class="btn btn-primary btn-lg">
      Написать мне&nbsp;
      <span class="glyphicon glyphicon-send"></span>
    </a>
  </div>
</div>

<div class="container-fluid bg-3 text-center"> 
  <div class="container">
    <h3 class="slideanim">Мои проекты</h3>
    <div class="row slideanim">
      <div class="col-sm-4">
        <p>Lorem ipsum..</p>
        <img src="https://www.w3schools.com/bootstrap/birds1.jpg" alt="Image" class="img-responsive" style="width:100%">
      </div>
      <div class="col-sm-4">
        <p>Lorem ipsum..</p>
        <img src="https://www.w3schools.com/bootstrap/birds2.jpg" alt="Image" class="img-responsive" style="width:100%">
      </div>
      <div class="col-sm-4"> 
        <p>Lorem ipsum..</p>
        <img src="https://www.w3schools.com/bootstrap/birds3.jpg" alt="Image" class="img-responsive" style="width:100%">
      </div>
    </div>
  </div>
</div>