

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><strong>VA</strong></a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/app/about" routerLinkActive="active">О себе</a></li>
        <li><a routerLink="/app/blog" routerLinkActive="active">Блог</a></li>
        <li><a href="#">Мои проекты</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Владимир Алехин</a></li>
        <li><a href="#">Выйти</a></li>
      </ul>
    </div>
  </div>  
</nav>

<router-outlet></router-outlet>
