

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><strong>VA</strong></a>
      </div>
      <ul class="nav navbar-nav">
        <li><a id="about_link" routerLink="/app/about" routerLinkActive="active" (click)="setSwitchActive($event)">О себе</a></li>
        <li><a id="blog_link" routerLink="/app/blog" routerLinkActive="active" (click)="setSwitchActive($event)">Блог</a></li>
        <li><a id="projects_link" routerLink="/app/projects" routerLinkActive="active" (click)="setSwitchActive($event)">Мои проекты</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">{{ name.auth.displayName }}</a></li>
        <li><a href="#" (click)="logout()">Выйти</a></li>
      </ul>
    </div>
  </div>  
</nav>

<router-outlet></router-outlet>
