<div *ngIf="isLoading" id="_loader">
  <div id="load_logo"></div>
    <div class="spinner2 moon2">    
  </div>
</div>

<div *ngIf="!isLoading" class="container proj-container" style="margin-top: 14px;">
  <div class="col-md-12 sub-nav post_management_submenu">
    <ol class="breadcrumb">
      <li><a id="blog_link" routerLink="/app/blog" routerLinkActive="active">Блог</a></li>
      <li class="active"><a>Управление изображениями</a></li> 
    </ol>
  </div>
  <div class="row img_up_row">
    <div class="col-md-4">
      <h4>Загрузить изображение</h4>
    </div>
    <div class="col-md-6">
      <div class="row file_input_row">
        <div class="form-group">
          <input type="file" id="upload" class="custom-file-input" style="margin-top: 4px;">
        </div> 
      </div>
    </div>
    <div class="col-md-2">
      <button style="float:right;" type="button" class="btn btn-primary" (click)="upload()">Загрузить</button>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let img of imageList | async" class="col-md-3 images_management_item">
      <img [hidden]="!(img.downloadURL | async)" [src]="img.downloadURL | async" alt="">
      <div class="img_overlay" (click)="delete(img)" title="Удалить изображение">
        <i class="fa fa-2 fa-trash-o" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div> 