<div *ngIf="isLoading" id="_loader">
  <div id="load_logo"></div>
    <div class="spinner2 moon2">    
  </div>
</div>

<div *ngIf="!isLoading" class="container post-container">
  <div class="col-md-12 sub-nav">
    <ol class="breadcrumb">
      <li><a id="blog_link" routerLink="/app/blog" routerLinkActive="active">Блог</a></li>
      <li class="active"><a href="#">{{(post | async)?.title}}</a></li>      
    </ol>
     <ul class="sub_nav" style="margin-right: 15px;">
        <li>
            <a (click)="edit()">Редактировать</a>  
        </li>
        <li>
            <a data-toggle="modal" data-target="#deleteModal">Удалить</a>
        </li>
    </ul>
  </div>
  <div class="col-md-8" style="padding-bottom:50px; overflow:hidden;">
    <h1>{{(post | async)?.title}}</h1>
    <p class="lead">
        Автор <a href="#">{{(post | async)?.author}}</a>
    </p>
    <hr>
    <p><span class="glyphicon glyphicon-time"></span> Опубликовано: {{(post | async)?.updated | date: 'dd-MM-yyyy HH:mm'}}</p>
    <hr>
    <p class="lead">{{(post | async)?.intro}}</p>
    <markdown [data]="(post | async)?.body"></markdown>
    <hr>
    <div class="well">
        <h4>Оставить комментарий:</h4>
        <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
            <div class="form-group">
                <textarea (ngModel)="comment" name="comment" required class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
    <hr>
    <div *ngFor="let comment of comments | async" class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="http://placehold.it/64x64" alt="">
        </a>
        <div class="media-body">
            <h4 class="media-heading">{{comment?.author}}
                <small>{{comment?.created | date: 'dd-MM-yyyy HH:mm'}}</small>
            </h4>
            {{comment?.text}}
        </div>
    </div>
  </div>
  <div class="col-md-4">
    <!-- Blog Search Well -->
    <div class="well">
        <h4>Blog Search</h4>
        <div class="input-group">
            <input id="blog_search" type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button">
                    <span class="glyphicon glyphicon-search"></span>
            </button>
            </span>
        </div>
        <!-- /.input-group -->
    </div>

    <!-- Blog Categories Well -->
    <div class="well">
        <h4>Blog Categories</h4>
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    <li><a href="#">Category Name</a>
                    </li>
                    <li><a href="#">Category Name</a>
                    </li>
                    <li><a href="#">Category Name</a>
                    </li>
                    <li><a href="#">Category Name</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    <li><a href="#">Category Name</a>
                    </li>
                    <li><a href="#">Category Name</a>
                    </li>
                    <li><a href="#">Category Name</a>
                    </li>
                    <li><a href="#">Category Name</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
    </div>

    <!-- Side Widget Well -->
    <div class="well">
        <h4>Side Widget Well</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
    </div>

  </div>
</div>
<div id="deleteModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Удалить статью?</h4>
      </div>
      <div class="modal-body">
        <h4>{{selectedTitle}}</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="delete()">Удалить</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
      </div>
    </div>

  </div>
</div>