<div class="container post-container">
  <div class="col-md-12" style="margin-top: 30px">
    <h1>My blog bla bla bla</h1>
    <p class="lead">
        by <a href="#">Start Bootstrap</a>
    </p>
    <hr>
  </div>

  <div class="col-lg-8">
    <div class="post-preview" *ngFor="let post of posts | async">
        <a [routerLink]="['/app/post', post.$key]" routerLinkActive="active">
            <h2 class="post-title">
                {{post?.title}}
            </h2>
            <h3 class="post-subtitle">
                {{post?.subtitle}}
            </h3>
        </a>
        <p class="post-meta">Опубликовано:  <a href="#">{{post?.author}}</a>  {{post?.created | date: 'dd-MM-yyyy hh:mm'}}</p>
        <hr>
    </div>

    <button class="btn btn-primary btn-pager">Еще →</button>
</div>

<div class="col-md-4">

</div>

</div>